services:
  api:
    container_name: api_wrdip_prod
    build:
      context: api
      dockerfile: Dockerfile.prod
    ports:
      - 4000:4000
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      - DEPLOYMENT=prod

  ui:
    container_name: ui_wrdip_prod
    build:
      context: ui
      dockerfile: Dockerfile.prod
    ports:
      - 80:3000
    depends_on:
      - api
  
  postgres:
    container_name: postgres
    image: postgres:14-alpine
    ports:
      - 5432:5432
    volumes:
      - /db/data/pg:/var/lib/postgresql/data
    env_file:
      - .env