.cardImage {
  object-fit: contain;
  width: 100%;
  height: 150px;
}

.featureBannerTitle {
  font-size: var(--fs-h4);
  padding: 1vh;
  font-family: 'Roboto', sans-serif;

}

.featureBannerText {
  font-size: var(--fs-body);
  font-family: 'Roboto', sans-serif;
}


