.templateBannerContainer {
  display: flex;
  background-color: white;
  min-height: calc(80 * var(--dvh));
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.templateBannerImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.templateBannerTitle {
  font-size: var(--fs-h2);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 20px;
  color: #0e2959;
}

.templateBannerText {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 65ch;
  text-align: center;
  font-size: var(--fs-body);
  padding-top: 20px;
  padding-bottom: 30px;
}

.templateBannerImageContainer {
  padding-top: 0px;
}
