.templateBannerContainer {
  display: flex;
  background-color: white;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.templateBannerImage {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.templateBannerTitle {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 20px;
  color: #0e2959;
}

.templateBannerText {
  font-family: 'Roboto', sans-serif;
  width: 40%;
  text-align: center;
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 30px;
}

.templateBannerImageContainer {
  padding-top: 0px;
}
